@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=DotGothic16");

/* Lobster - Press Start 2P - Luckiest Guy*/
img {
  width: 100%;
  display: block;
}
#app {
  margin-bottom:140px
}
.text-bold {
  font-weight: bolder;
  font-family: "Press Start 2P";
}
.text-light {
  font-weight: lighter;
  font-family: "DotGothic16";
}

.text-l {
  font-size: 1.3em !important;
}

.search-form {
  margin-top: 40px;
  display: flex;
  align-items: flex-end;
}
.search-form input {
  border-bottom-color: #558b2f !important;
}
.btn-floating {
  margin-right: 0 !important;
}

@media screen and (min-width: 993px) {
  .brand-logo {
    margin-left: 20px;
  }
  .search-form {
    margin-top: 0px;
  }
  .search-form.row .col {
    float: none !important;
  }
  .search-form .link i {
    position: relative;
    right: 3px !important;
    width: 40px !important;
    height: 29px !important;
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.pagination > li > a {
  display: flex !important;
}
.pagination p {
  border-radius: 100%;
  font-size: 1.4em;
  width: 40px;
  height: 40px;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination > li > input {
  width: 50px !important;
  text-align: center;
  border: #006064 0.5px solid !important;
  background-color: rgb(255, 255, 255) !important;
  color: #006064;
  font-weight: 600;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.527) !important;
}

@media screen and (min-width: 900px) {
  .pagination li:nth-of-type(1) a::after {
    content: "pagina anterior";
  }
  .pagination li:nth-of-type(3) a::before {
    content: "pagina siguiente";
  }
}

.card {
  position: relative;
  border-radius: 10px !important;
  margin: 20px 10px 0 10px !important;
}

.card-title {
  font-size: 1.2em !important;
  text-align: center;
  color: #006064 !important;
}

.img-card img {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 10px 0 0 10px !important;
}
.img-card {
  height: 320px !important;
  padding: 0 !important;
}
@media screen and (min-width: 500px) {
  .img-card {
    height: 380px !important;
  }
}

.card-content {
  position: relative;
  overflow: visible;
}
/* .rating {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: 10px;
  top: -35px;

  width: 80px;
  height: 80px;

  font-size: 1.7em;
  font-weight: 500;

  color: rgb(255, 255, 255);

  filter: drop-shadow(1px 1px 4px #000000);

  background-image: url("../images/star.png");
  background-repeat: no-repeat;
  background-size: 80px;
} */
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80px;
  height: 30px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #00000077;
  border: #558b2f;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.575);
  font-size: 1.4em;
  font-weight: 500;

  color: rgb(255, 255, 255);
}
.rating span {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating span::before {
  content: "\2605";
  width: 25px;
  font-size: 24px;
  color: yellow;
}

.data-container:nth-of-type(1) div {
  height: 100px;
  overflow: auto;
  margin: 0 0 10px 0;
}
.data-container:nth-of-type(2) div {
  margin: 0 0 10px 0;
}
.data-container div p {
  font-size: 0.9em;
  margin: 0;
  color: rgba(0, 0, 0, 0.63);
}
.data-container h6 {
  font-size: 1em;
}
@media screen and (min-width: 500px) {
  .card-title {
    font-size: 1.5em !important;
  }
  .data-container h6 {
    font-size: 1.2em;
  }
  .data-container:nth-of-type(2) p:before {
    content: "Estreno: ";
    font-weight: bolder;
  }
  .data-container div p {
    font-size: 1em;
  }
}

.data-container div::-webkit-scrollbar,
.genre-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border: solid 0.4px rgba(0, 0, 0, 0.212);
  border-radius: 10px;

  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5);
}
.data-container div::-webkit-scrollbar-thumb,
.genre-container::-webkit-scrollbar-thumb {
  background: #006064b2;
  border-radius: 10px;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.87);
}

.genre-container {
  width: 100%;
  display: flex;
  gap: 3px;
  height: 35px;
  overflow: auto;
}
.genre {
  width: fit-content;
  height: max-content;
  padding: 4px;
  border-radius: 10px;
}
.genre-container span {
  font-size: 0.9em;
}

.not-found {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.not-found h4 {
  text-align: center;
  color: #006064;
}
.not-found div {
  width: 200px;
}

.fixed-bottom-nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 83%;
  bottom: -20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #006164a1;
  
}
.fixed-bottom-nav svg {
  width: 3.4em;
  height: 3.3em;
  color: rgb(32, 32, 32);
  filter: drop-shadow(1px 1px 4px rgba(95, 95, 95, 0.651));
}
.fixed-bottom-nav li:nth-of-type(3)  {
  width: 5.5em;
  height: 5.5em;
}
.fixed-bottom-nav li  {
  padding: 7px;
  border-radius: 100%;
  color: #006064;
  background-color: white;
}
.fixed-bottom-nav img {
  width: 2.5em;
  filter: drop-shadow(1px 1px 4px rgba(95, 95, 95, 0.651));
}
@media screen and (min-width:600px) {
  .fixed-bottom-nav {
   display: none;
  }
  #app {
    margin-bottom:0;
  }
}

.options-container {
  position: absolute;
  width: 70px;
  display: flex;
  justify-content: space-evenly;
  right: 0;
  top: 5px;
  color: #558b2f;
}
.options-container i {
  cursor: pointer;
  width: 30px;
  filter: drop-shadow(1px 1px 2px rgba(63, 63, 63, 0.432));
}

@media screen and (min-width:500px) {
  .options-container {
    top: auto;
    bottom: 5px !important;
  }
}